/*Shared Style*/
body {
    font-family: 'Open Sans', sans-serif;
}
a{
    color: black;
}

.btn {
    border-radius: 5px;
    background: palevioletred;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 30px;
}
 /* img box  */
 .img-container{
    display: flex;
    gap: 20px;
    text-align: center;
 }
 .img-box2{
    padding: 0px ;
    border-radius: 0px 0px 0px 0px;
    /* box-shadow: 0px 5px 40px 0px lightcyan; */
    margin-bottom: 20px;
    height: 250px; 
    width: 270px; 
 }
 .img-box{
    padding: 30px ;
    border-radius: 200px 200px 0px 0px;
    box-shadow: 0px 5px 40px 0px lightcyan;
    margin-bottom: 20px;
    height: 300px; 
    width: 300px; 
 }
 .img-box img {
    width: 80%; 
    height: 100%; 
  }
 .img-box2 img {
    width: 80%; 
    height: 100%; 
    box-shadow: 5px 5px 20px 5px rgb(255, 243, 243);
  }

 .box-color1{
    background: lightpink;
 }
 .box-color2{
    background: lightblue;
 }
 .box-color3{
    background: lightgreen;
 }
 .img-box-container{
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin: 10px 10px 10px 10px;
 }

 .subscribe-form{
    background-image: url('../Flower-Images/Rectangle\ 9.png');
    height: 300px;
    width: 100%;
    padding-top: 50px;
    background-repeat: no-repeat;

 }
 
 .subscribe-form input[type="text"],
 textarea {
    margin-bottom: 20px;
    padding: 15px 30px;
    font-size: 14px;
    color: gray;
    background-color: white;
    border: 0;
    border-radius: 5px;
    width: 50%;

 }

/*Nav Style*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: black;
    font-size: 45px;
    font-weight: 800;
}

.orangered {
    color: orangered;
}
.gray{
    color: gray;
}
.l-pink{
    color: palevioletred;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: grey;
}

/*header style*/
.header {
    background-color: rgb(255, 238, 241);
    background-repeat: no-repeat;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    background-color: lightpink;
}

.banner .pp {
    width: 500px;
}
.banner .p-pic {
    width: 200px;
}
.banner-contents{
    padding-right: 200px;
    text-align: center;
}

.banner-greetings {
    font-size: 45px;
    color: gray;
    margin-bottom: 0;
}

.banner-title {
    font-size: 50px;
    font-weight: 700;
    margin-top: 5px;

}


/* Main  style  */
.section-title {
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: black;
    text-align: center;
    font-size: 18px;
}


main {
    max-width: 1140px;
    margin: 0 auto;
}


main section {
    margin-top: 130px;
}

/* footer  */
footer {
    display: flex;
    gap: 100px;
    background-color: pink;
    padding: 130px 230px;
    margin-top: 100px;
}

.footer-column {
    width: 100%;
    text-align: center;
}
.banner2{
    width: 100% !important;
}

.social-links {
    text-align: center;
    background-color: aliceblue;
    color: black;
    height: 100%;
    padding: 50px;
    background-image: url('../Flower-Images/pngwing\ 10.png');

}
.social-links img{
    box-shadow: 1px 1px  2px 1px gray;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 20px;
    padding: 15px 30px;
    font-size: 14px;
    color: gray;
    background-color: white;
    border: 0;
    border-radius: 5px;
    width: 100%;
}
